{% extends '__base1__.html' %}
{% block meta %}
<meta name="description" content="firstaio">
{% endblock %}
{% block title %}注册{% endblock %}
{% block beforehead %}
<script type="text/javascript">
    //初始化内部类
    $T.version.init();
    $T.version.loadScript("/static/js/app/NotificationExt.js");
    $T.version.loadScript("/static/js/app/Url.js");
    $T.version.loadScript("/static/js/app/data/http/DemoProxy.js");
    $T.version.loadScript("/static/js/app/RegisterMediator.js");
    window.onload = function () {
        //初始化过滤器
        var testFilter = new TestFilter();
        $T.httpResultFilter.addFilter(testFilter);
        //初始化控制器
        $T.registerMediator.init();
        $T.register.register($T.registerMediator);

    }
</script>
{% endblock %}
{% block content %}
<div class="uk-width-2-3">
    <h1>欢迎注册！</h1>
    <form id="vm" class="uk-form uk-form-stacked">
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
        <div class="uk-form-row">
            <label class="uk-form-label">名字:</label>
            <div class="uk-form-controls">
                <input id="userName" type="text" maxlength="50" placeholder="名字" class="uk-width-1-1">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">电子邮件:</label>
            <div class="uk-form-controls">
                <input id="userEmail" type="text" maxlength="50" placeholder="your-name@example.com" class="uk-width-1-1">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">输入口令:</label>
            <div class="uk-form-controls">
                <input id="userPassword" type="password" maxlength="50" placeholder="输入口令" class="uk-width-1-1">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">重复口令:</label>
            <div class="uk-form-controls">
                <input type="password" maxlength="50" placeholder="重复口令" class="uk-width-1-1">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">头像：</label>
            <div class="uk-form-controls">
                <input type="file" id="userImg" name="userImg" class="uk-width-1-1">
            </div>
        </div>
        <div class="uk-form-row">
            <button id="registerButton" type="button" class="uk-button uk-button-primary"><i class="uk-icon-user"></i>&nbsp;注册</button>
        </div>
    </form>
</div>
{% endblock %}