<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}<!-- block meta -->{% endblock %}
    <title>{% block title %}<!-- block title -->{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <script src="/static/js/lib/juggle-help.js"></script>
    <script src="/static/js/lib/juggle-event.js"></script>
    <script src="/static/js/lib/juggle-http.js"></script>
    <script src="/static/js/lib/juggle-mv.js"></script>
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/uikit.min.js"></script>

    {% block beforehead %}<!-- block beforehead -->{% endblock %}
</head>
<body>
<nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
    <div class="uk-container uk-container-center">
        <a href="#" class="uk-navbar-brand">jupiter</a>
        <ul class="uk-navbar-nav">
            <li><a href="#"><i class="uk-icon-home"></i>&nbsp日志</a></li>
            <li><a target="_blank" href="#"><i class="uk-icon-book"></i>&nbsp教程</a></li>
            <li><a target="_blank" href="#"><i class="uk-icon-code"></i>&nbsp源码</a></li>
        </ul>
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                {% if __user__ %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#"><i class="uk-icon-user"></i>{{ __user__.name }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="#"><i class="uk-icon-sign-out"></i>&nbsp登出</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="#"><i class="uk-icon-sign-in"></i>&nbsp登陆</a></li>
                    <li><a href="#"><i class="uk-icon-edit"></i>&nbsp注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        {% block content %}<!-- block content -->{% endblock %}
    </div>
</div>
<div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
    <div class="uk-container uk-container-center uk-text-center">
        <div class="uk-panel uk-margin-top uk-margin-bottom">
            <p>
                <a target="_blank" href="#" class="uk-icon-button uk-icon-weibo"></a>
                <a target="_blank" href="#" class="uk-icon-button uk-icon-github"></a>
                <a target="_blank" href="#" class="uk-icon-button uk-icon-linkedin-square"></a>
                <a target="_blank" href="#" class="uk-icon-button uk-icon-twitter"></a>
            </p>
            <p>Powered by <a href="#">jupiter</a>. Copyright &copy; 2017. [<a href="#" target="_blank">Manage</a>]</p>
            <p><a href="#" target="_blank">jupiter</a>. All rights reserved.</p>
            <a target="_blank" href="#"><i class="uk-icon-html5" style="font-size:64px; color: #444;"></i></a>
        </div>
    </div>
</div>
</body>
</html>