{% extends '__base1__.html' %}
{% block meta %}
    <meta name="description" content="jupiter">
{% endblock %}
{% block title %}注册{% endblock %}
{% block beforehead %}
    <script src="/static/js/app/Url.js"></script>
    <script src="/static/js/app/data/http/DemoProxy.js"></script>
    <script src="/static/js/app/RegisterMediator.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var mediator = new jupiter.RegisterMediator();
            mediator.initView();
        }
    </script>
{% endblock %}
{% block content %}
    <div class="uk-width-2-3">
        <h1>欢迎注册！</h1>
        <form id="vm" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">名字:</label>
                <div class="uk-form-controls">
                    <input id="userName" type="text" maxlength="50" placeholder="名字" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">电子邮件:</label>
                <div class="uk-form-controls">
                    <input id="userEmail" type="text" maxlength="50" placeholder="your-name@example.com"
                           class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">输入口令:</label>
                <div class="uk-form-controls">
                    <input id="userPassword" type="password" maxlength="50" placeholder="输入口令" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">重复口令:</label>
                <div class="uk-form-controls">
                    <input type="password" maxlength="50" placeholder="重复口令" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">头像：</label>
                <div class="uk-form-controls">
                    <input type="file" id="userImg" name="userImg" class="uk-width-1-1" multiple="multiple">
                </div>
            </div>
            <div class="uk-form-row">
                <button id="registerButton" type="button" class="uk-button uk-button-primary"><i
                        class="uk-icon-user"></i>&nbsp;注册
                </button>
            </div>
        </form>
    </div>
{% endblock %}