{% extends '__base1__.html' %}
{% block meta %}
<meta name="description" content="firstaio">
{% endblock %}
{% block title %}日志1{% endblock %}
{% block beforehead %}
<script type="text/javascript">
	//初始化内部类
    $T.version.init();
    $T.version.loadScript("/static/js/app/NotificationExt.js");
    $T.version.loadScript("/static/js/app/Url.js");
    $T.version.loadScript("/static/js/app/data/http/DemoProxy.js");
    $T.version.loadScript("/static/js/app/BlogMediator.js");
    window.onload = function () {
        //初始化过滤器
        var testFilter = new TestFilter();
        $T.httpResultFilter.addFilter(testFilter);
        //初始化控制器
        $T.blogMediator.init();
        $T.register.register($T.blogMediator);

    }
</script>
{% endblock %}
{% block content %}
<div class="uk-width-medium-3-4">
    {% for blog in blogs %}
    <article class="uk-article">
        <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
        <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
        <p>{{ blog.summary }}</p>
        <p><a href="/blog/{{ blog.id }}">继续阅读<i class="uk-icon-angle-double-right"></i></a></p>
    </article>
    {% endfor %}
</div>
<div class="uk-width-medium-1-4">
    <div class="uk-panel uk-panel-header">
        <h3 class="uk-panel-title">友情链接</h3>
        <ul class="uk-list uk-list-line">
            <li><i class="uk-icon-thumbs-o-up"></i>&nbsp<a target="_blank" href="#">编程</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i>&nbsp<a target="_blank" href="#">读书</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i>&nbsp<a target="_blank" href="#">Python教程</a></li>
            <li><i class="uk-icon-thumbs-o-up"></i>&nbsp<a target="_blank" href="#">Git教程</a></li>
        </ul>
    </div>
</div>
{% endblock %}